.root {
    -header-color: #4C5667;
    -header-deep-color: #525E72;
    -header-elevated-color: #5C6A7F;
    -border-on-header-color: #586272;
    -background-color: #FFFFFF;
    -background-elevated-color: #F0F2F8;
    -text-on-header-color: #FFFFFF;
    -text-on-background-color: #8E99A4;
    -dark-text-on-background-color: #444446;
    -dark-element-on-background-color: #444446;
    -text-on-elevated-background-color: #6A727B;
    -disabled-color: #BFC5CD;
    -red-color: #ED5565;
    -green-color: #89CC48;
    -blue-color: #3E9BE6;
    -gold-color: #F6BB42;

    -fx-background-color: -background-color;
}

.label {
    -fx-font-family: "Segoe ui";
}

.list-cell {
    -fx-font-family: "Segoe ui";
}


.employee-view {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: -dark-element-on-background-color;
}

.employee-view .label {
    -fx-text-fill: -dark-text-on-background-color;
    -fx-font-size: 22;
}

.employee-view .separator-line {
    -fx-stroke: -disabled-color;
    -fx-stroke-width: 2;
}

.employee-view .glyph-icon {
    -fx-fill: -disabled-color;
}

.header {
    -fx-background-color: -header-color;
    -fx-padding: 10 30 10 30;
}

.header .button {
    -fx-background-color: transparent;
}

.header .label {
    -fx-text-fill: -text-on-header-color;
}

.header .glyph-icon {
    -fx-fill: -text-on-header-color;
    -glyph-size: 42;
}

.header .clock {
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-border-color: -border-on-header-color;
    -fx-padding: 5 100 5 100;
}

.header .clock .time {
    -fx-font-size: 48;
}

.header .clock .date {
    -fx-font-size: 16;
}

.header .left-bar {
     -fx-border-width: 2;
     -fx-border-radius: 50;
     -fx-border-color: -border-on-header-color;
}

.dashboard {
    -fx-padding: 20;
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-orientation: vertical;
}

.loading-bar {
    -fx-background-color: -background-elevated-color;
    -fx-padding: 50;
    -fx-spacing: 30;
}

.side-bar {
    -fx-background-color: -header-color;
    -fx-spacing: 40;
}

.side-bar .button {
    -fx-background-color: transparent;
}

.side-bar .glyph-icon {
    -fx-fill: -text-on-header-color;
}

.side-bar .list-view {
    -fx-background-color: transparent;
}

.side-bar .header {
    -fx-padding: 10;
}

.side-bar .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -text-on-header-color;
    -fx-font-size: 18;
    -fx-padding: 10 0 10 20;
    -glyph-size:45;
    -fx-graphic-text-gap: 10;
}

.side-bar .list-cell .glyph-icon {
    -glyph-size:22;
}

.side-bar .list-cell:selected {
    -fx-background-color: #FFFFFF33;
}

